<!--Navbar-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<nav class="navbar navbar-dark bg-primary mb-5">
  <a class="navbar-brand" href="/">SidExpress</a>
  <div class="navbar-expand mr-auto">
    <div class="nav navbar-nav navbar-right">
      
      <a class="nav-item nav-link" href="http://localhost:4200/linije">Linije</a>
      <a class="nav-item nav-link" href="http://localhost:4200/redvoznje">Red voznje</a>
      <a class="nav-item nav-link" href="#">Cenovnik</a>
      <a class="nav-item nav-link" href="http://localhost:4200/registration">Registruj se</a>
      <a class="nav-item nav-link" href="http://localhost:4200/login">Prijavi se</a>
    </div>
  </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->