<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="login.component.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
  <form #f="ngForm" (submit)="proveri(f.value,f)">
    <label>
      Id Karte:
      <input type="text" name="id" [(ngModel)]="id"  id ="id"/>
    </label>
    <br>

    <input type="submit"/>
  </form>
  <br>
  <b>{{tekst}}</b>
</div>
