<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="registration.component.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
  <div id="formContent">

        <form [formGroup] = "registacijaForm" (ngSubmit)="register()">
        <label>
        First Name:
        <input type="text" formControlName="firstName" required >
        </label>
        <br>

        <label>
        Last Name:
        <input type="text" formControlName="lastName" >
        </label>
        <br>

        <label>
        Username:
        <input type="text" formControlName="username" >
        </label>
        <br>

        <label>
          &nbsp;  &nbsp; &nbsp; &nbsp;Email: &nbsp;         
          <input type="text" formControlName="email" >
          </label>
        <br>

        <label>
          Password:
          <input type="password" formControlName="password" >
        </label>
        <br>
        
        <label>
          Confirm Password:
          <input type="password" formControlName="confirmPassword" >
        </label>
        <br>
        
        <label>
          &nbsp;  &nbsp; &nbsp; &nbsp; Date:
        <input type="date" formControlName="date" >
        </label>
        <br>



  <!-- <button type="submit">Submit</button> -->
  <input type="submit" class="fadeIn fourth"/>
</form>

<!-- <div id="formFooter">
  <a class="underlineHover" href="#">Forgot Password?</a>
</div> -->

</div>
</div>



