<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<nav class="navbar navbar-expand-lg">

                <ul class="navbar-nav">
                    <li *ngFor = "let l of lines" [(ngModel)] = "linija">
                        <label>Linija : </label>
                       {{l.Number}}
                    </li>
                </ul>

                <form #f="ngForm" (submit)="IzmeniLiniju(f.value,f)" *ngIf = "(user == 'admin')">
                        <label>
                          Unesite novu oznaku linije:
                          <input type="text" name="linijaOznaka"  [(ngModel)]="linijaOznaka"/>
                        </label>
                        <br>
                        <input type="submit" />
                    </form>

            
        </nav>