<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<nav class="navbar navbar-expand-lg">
            <div>
                <ul class="navbar-nav">
                    <li class="active">
                        <a href="http://localhost:4200/linije" class="nav-link">1 - LIMAN - PODBARA - Z. STANICA</a>
                        <a href="http://localhost:4200/linije" class="nav-link">2 - GRBAVICA - STRAND - KLISA</a>
                        <a href="http://localhost:4200/linije" class="nav-link">3 - DETELINARA - LIMAN - PODBARA</a>
                    </li>
                </ul>
            </div>
        </nav>